.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-text {
    position: absolute;
    top: 20px;
}

.box-wrapper {
    width: 340px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    border: 1px solid red;
    gap: 10px;
}